HOST_UID=1000
HOST_GID=1000

DISCORD_TOKEN=
DISCORD_CHANNEL_IDS=
LLM_TOKEN=

DB_HOST=postgres
DB_PORT=5432
DB_NAME=setpilot_development
DB_USER=
DB_PASSWORD=

WHITE_LIST_WORDS=adresse,concert,date,heure
